@use "../../Base/vars.scss" as v;

.section-2{
    background-color: v.$light-mode-bg;
    padding-left:60px ;
    padding-right: 60px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap:30px;
    transition: background-color ease-in-out 1s;

    &--dark {
        background-color: v.$dark-mode-bg;
        color: v.$dark-mode-text;
      };
}

.card-info{

    width: 270px;
    height: 300px;
    margin-bottom: 55px;
    transition: all .3s ease-in;
    text-decoration: none;

    &:hover {
        color: hsl(0, 1%, 37%);
        cursor: pointer;
        transform: scale(1.1)
      };

    .card-flag{
        width: 100%;
        height: 170px;
        border-radius: 4px;
        img{
            height: 100%;
            width:100%;
            border-radius: 6px;
        }
    }

    .card-content{
        height: 175px;
        margin-top: -4px;
        padding: 25px;
        background-color: #fafafa;
        color: #111517;
        border-bottom-left-radius: 6px;
        border-bottom-right-radius: 6px;
        box-shadow: 0 7px 29px 0 rgba(100,100,111,.2);
        transition: background-color 1s ease-in-out,color 1s ease-in-out;

        .card-title{
            font-size: 18px;
            font-weight: 800;
        }

        .content-detail{
            margin-top: 15px;
            line-height: 25px;
            font-size: 14px;
            font-weight: 600;
            opacity: 0.8;;

            span{
                font-weight: 300;
            }
        }

        &--dark{
            background-color:v.$dark-mode-elements;
            color: v.$dark-mode-text;
        }

       
        }
    

    
}